<div class="sidebar">
  <div style="text-align: center; font-size: 1em">
      SideNavigation</div>
  <div style="text-align: center">
      <button class="btnCreateSubreddit" (click)="goToRequest()">Request</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToRescueTeam()">Rescue Team</button>
</div>
<div style="text-align: center">
  <button class="btnCreateSubreddit" (click)="goToUser()">Departments</button>
</div>
<div style="text-align: center">
  <button class="btnCreateSubreddit" (click)="goToDepartments()">Employees</button>
</div>
<div style="text-align: center">
  <button class="btnCreateSubreddit" (click)="goToChatLobby()">ChatLobby</button>
</div>
</div>