
 
 <span class="col-md-6 offset-md-10">              
    <button type="button" (click)="close()"class="sign-up">
        close
     </button>
</span>
<div class="col-md-12">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    <h4>Register Rescue Team</h4>
                </div>
                <div class="card-body">
                    <form group="rescueTeam-form" [formGroup]="rescueTeamForm" (ngSubmit)="createRescueTeam(rescueTeamForm.value)">
                        <div class="form-group row">
                            <mat-label>Nature of Team</mat-label>    
                            <section class="example-section">
                        <mat-checkbox formControlName="fire" class="example-margin" [(ngModel)]="fire">Fire</mat-checkbox>
                        &nbsp;&nbsp;<mat-checkbox formControlName="medical" class="example-margin" [(ngModel)]="medical">Medical</mat-checkbox>
                        &nbsp;&nbsp;<mat-checkbox formControlName="crime" class="example-margin" [(ngModel)]="crime">Crime</mat-checkbox>  
                            </section>
            
                       
                        </div>
                        <div class="form-group row">
                            <label for="email_address" class="col-md-6 col-form-label text-md-right">Employees</label>
                            <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>All Employees</mat-label>
                                        <mat-select [formControl]="SelectedEmployees" multiple>
                                            <!--
                                            <mat-select-trigger>
                                                {{SelectedEmployees.value ? SelectedEmployees.value[0] : ''}}
                                                <span *ngIf="SelectedEmployees?.length > 1" class="example-additional-selection">
                                                  (+{{SelectedEmployees.value.length - 1}} {{SelectedEmployees?.value.length === 2 ? 'other' : 'others'}})
                                                </span>
                                              </mat-select-trigger>
                                              -->
                                          <mat-option *ngFor="let user of AllEmp" [value]="user.userId">{{user.userId}}---{{user.department}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="location" class="col-md-6 col-form-label text-md-right">Location</label>
                            <div class="col-md-6">
                                <input type="text" id="location" class="form-control" [formControlName]="'location'" name="location" required
                                    autofocus>
                                
                            </div>
                            
                        </div>
                        <span class="col-md-6 offset-md-4">
                            
                            <button type="submit" class="sign-up">
                                Create
                            </button>
                        </span>
                    </form>
                </div>
            </div>