<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  type="text/css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="../chat-lobby/websocket.js"></script>
<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <button class="btnCreateSubreddit" (click)="close()">Close</button>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="channel_heading">
              <h4>Members</h4>
              
            </div>
          </div>
          <div class="inbox_chat">
            <div class="channels"  *ngFor="let channel of channelList">
              <div class="chat_list">
                <div class="chat_people">
                  <div class="chat_ib">
                    <h5>
                        {{channel}}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="mesgs" >
          <div class="msg_history">
            <li class="message" *ngFor="let message of messages">
              <div class="received_msg">
                <div class="received_withd_msg">
                   <p>
                    {{message.content}}
                   </p>
                  
                </div>
              </div>

              <div class="outgoing_msg"  *ngFor="let sentMessage of sentMessages">
                  <div class="sent_msg">
                     <p>
                      {{message.content}}
                     </p>
                    
                  </div>
              </div>
       
            </li>
          </div>
          <div class="type_msg">
            <form class="input_msg_write" [formGroup]="chatform" (ngSubmit)="sendMessage()">
              <input
                type="text"
                class="write_msg"
                placeholder="Type a message"
                name="newMessage"
                [formControlName]="'messageInput'"
                required
              />
              <button class="msg_send_btn" type="submit">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>