<div class="reddit-body">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <mat-grid-list cols="1" rowHeight="1:1">
          <mat-grid-tile><mat-card class="ActiveRequest-card">
            <mat-card-header>
              <mat-card-title>Active Request Assigned</mat-card-title> 
            </mat-card-header>
            <mat-card-content>  
              <div>
              <table mat-table [dataSource]="active_request">
                <!--displayedColumns: string[] = ['Id','request_id' ,'location', 'Emp1', 'Emp2','Emp3','status','action'];-->
                <!-- Position Column -->
                <ng-container matColumnDef="requestId">
                  <th mat-header-cell *matHeaderCellDef> request_id </th>
                  <td mat-cell *matCellDef="let element"> {{element.requestId}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="location">
                  <th mat-header-cell *matHeaderCellDef> location </th>
                  <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                </ng-container>

                <ng-container matColumnDef="resTeamObj">
                  <th mat-header-cell *matHeaderCellDef> resTeamObj </th>
                  <td mat-cell *matCellDef="let element"> {{element.resTeamObj}} </td>
                </ng-container>
                <ng-container matColumnDef="nature">
                  <th mat-header-cell *matHeaderCellDef> nature </th>
                  <td mat-cell *matCellDef="let element"> {{element.nature}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

               <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element"> <button class="btnCreateSubreddit">Message</button> </td>
                </ng-container>

                <ng-container matColumnDef="action2">
                  <th mat-header-cell *matHeaderCellDef> Complelte </th>
                  <td mat-cell *matCellDef="let element"> <button class="btnCreateSubreddit">Complete</button> </td>
              </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumnsForRequest"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsForRequest;"></tr>
              
                <!-- Row shown when there is no matching data. -->
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              
            </div>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
<!--
          <mat-grid-tile>
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>New Messages</mat-card-title> 
              </mat-card-header>
              <table>
                <th>Sender</th>
                <th>Content</th>
              <mat-card-content>   
                <div *ngFor="let newMessage of newMessages">
                  <tr><td>{{newMessage.sender}}-------{{newMessage.content}}</td></tr>
                  </div>
                </mat-card-content>
                </table>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
            </mat-card>
          </mat-grid-tile>
    -->     
        </mat-grid-list>
       
      
      </div>
        <div class="col-md-3">
          <div class="sidebar">
            <div style="text-align: center; font-size: 1em">
                Side-Navigation</div>
            <div style="text-align: center">
                <button class="btnCreateSubreddit" (click)="openRescueDialog()">Request Assigned</button>
            </div>
            <div style="text-align: center">
              <button class="btnCreateSubreddit" (click)="openRescueTeamInfo()">Rescue Team Info.</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit" (click)="openRescueDialog()">Departments</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit" (click)="openEmployeesInfoDialog()">Employees</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit" (click)="openChatLobby()">ChatLobby</button>
          </div>
          <div style="text-align: center">
            <button class="btnCreateSubreddit" (click)="openallMessageDialog()">Messages</button>
          </div>
          </div>
        </div>
    </div>
  </div>
</div>