<div>
    <mat-card class="requestForm-card">
        <mat-card-title>Request Form</mat-card-title>
        <mat-card-content>
            <form group="request-form" [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm.value)">
                <mat-label>Name</mat-label>
                <p><input matInput type="String" required formControlName="name" placeholder="Ex. xyz"></p>
            <mat-label>No. of People</mat-label>
                <p><input matInput type="Number" required formControlName="people" placeholder="Ex. 1,2,3..."></p>
                <mat-label>location</mat-label>    
                <p><input matInput type="String" formControlName="location" placeholder="berlin,..."></p>
            <mat-label>Nature of Assistance Needed</mat-label>    
            <section class="example-section">
                <mat-checkbox formControlName="fire" class="example-margin" [(ngModel)]="request.fire">Fire</mat-checkbox>
                &nbsp;&nbsp;<mat-checkbox formControlName="medical" class="example-margin" [(ngModel)]="request.medical">Medical</mat-checkbox>
                &nbsp;&nbsp;<mat-checkbox formControlName="crime" class="example-margin" [(ngModel)]="request.crime">Crime</mat-checkbox>  
            </section>
            <button class="button" type="submit">Submit</button>
            &nbsp;&nbsp;
            </form>
        </mat-card-content>
    </mat-card>
</div>
